<md-content class="page-content">

  <h1 class="page-heading">
    Scheduling an Appointment
  </h1>

  <p class="body-text">
    Appointments are available seven days a week. We welcome new clients, please call or text 310-283-9382.
  </p>
  <form name=userForm id="email-form">
  <p class="body-text">
    You can also ask any questions or request an appointmment by email.
  </p>
    <md-input-container>
      <label>Subject</label>
      <input type="text" name="subject" ng-model="subject">
    </md-input-container>
    <br>
    <md-input-container>
      <label>Your email address</label>
      <input name="yourEmailAddress" required>
       <div ng-messages="userForm.email.$error" ng-show="userform.email.$dirty">
          <div ng-message="required">You must provide your email
          </div>
       </div>
    </md-input-container>     
    <md-input-container>
      <label>Message</label>
      <textarea name="message" id="" cols="60" rows="3" required></textarea>
        <div ng-message="required">The message cannot be empty</div>
    </md-input-container>
    <md-button>Submit</md-button>
  </form>

</md-content>