<div>
  <div class="page-heading">
    <h1>Manual Therapy <br>for Wellness</h1>
    <p id="subheading">
      <span class="subheading-text"> massage </span> 
      <i class="fa fa-circle" aria-hidden="true"></i> 
      <span class="subheading-text"> manual lymphatic drainage </span> 
      <i class="fa fa-circle" aria-hidden="true"></i> 
      <span class="subheading-text"> myofascial release </span> 
    </p>
  </div>

<section class="section1">
  <h2 id="provider-name"><strong>Trish Romano</strong>, CLT, LMT</h2>
    <address id="contact-info">
      <i class="fa fa-phone" aria-hidden="true" style="margin-top: 20px"> </i> 
      <span class="bold">{{$ctrl.provider.tel}}</span>
      <br>
      <i class="fa fa-envelope-o" style="margin-top: 20px"> </i>
      <span class="bold"><a href="mailto:{{$ctrl.provider.email}}">{{$ctrl.provider.email}}</a></span>
      <br>
      <a style="text-decoration:none" href="https://goo.gl/maps/1okmtzEUX6P2" target="_blank">
        <i class="fa fa-map-marker" style="margin-top: 20px"></i> 
        <span id="address1" class="bold">{{$ctrl.provider.address1}}</span><br>
        <i class="fa fa-map-marker" style="visibility:hidden;padding:0"></i> 
        <span id="address2" class="bold">{{$ctrl.provider.address2}}</span><br></a>
    </address>
</section>


<section class="section2">
  <h3><a href="https://goo.gl/maps/AgE9ogSP9mF2"></a></h3>  
  <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3324.043034973319!2d-111.87954558479734!3d33.578231880737576!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x872b75464e07f99f%3A0x7eae508b7a8757ba!2s9458+E+Ironwood+Square+Dr+%23102%2C+Scottsdale%2C+AZ+85258!5e0!3m2!1sen!2sus!4v1496946900452" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>

</section>
<a href="http://www.trishromano.com" target="_blank">trishromano.com</a>

</div>