<div>
  <h1 class="page-heading">Manual Therapy for Wellness</h1>
  
  <!--<div class="logo-banner">
    <img class="logo" src="http://i.imgur.com/mWgnmRx.png" alt="logo">
  </div>-->
  

<section class="section1">
    <h1>
      {{$ctrl.provider.name}}, CLT, LMT
    </h1>
    
  <address>
    telephone: <span class="bold">{{$ctrl.provider.tel}}</span><br>
    <br>
    email: <span class="bold"><a href="mailto:patriciaromano@cox.net">{{$ctrl.provider.email}}</a></span><br>
    <br>
    
    office: <span class="bold">{{$ctrl.provider.address1}}</span><br>
    <span class="bold">{{$ctrl.provider.address2}}</span><br>
  </address>

</section>


<section class="section2">
  <h3><a href="https://goo.gl/maps/AgE9ogSP9mF2"></a></h3>  
  <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3324.043034973319!2d-111.87954558479734!3d33.578231880737576!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x872b75464e07f99f%3A0x7eae508b7a8757ba!2s9458+E+Ironwood+Square+Dr+%23102%2C+Scottsdale%2C+AZ+85258!5e0!3m2!1sen!2sus!4v1496946900452" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>

</section>
<a href="http://www.trishromano.com" target="_blank">trishromano.com</a>

</div>