<md-content class="page-content">

  <h1 class="page-heading">
    About MTW
  </h1>

  <p class="body-text">
    Manual Therapy for Wellness provides a multi-disciplinary approach to health and wellbeing, incorporating massage, lymphatic therapy, and myofascial release.
  </p>
  <p class="body-text">
    <strong style="font-size:20px">Trish Romano</strong>, CLT, LMT is the founder of MTW and the lead therapist. Trish has over 17 years experience and thousands of hours advanced training. Every client receives personalized care and consultation, taking into account medical history and current needs.
  </p>

</md-content>