<md-content class="page-content">

  <h1 class="page-heading">
    About MTW
  </h1>

  <p class="body-text">
    Manual Therapy for Wellness provides a multi-disciplinary approach to health and wellbeing, incorporating massage, lymphatic drainage therapy, and myofascial release.
  </p>
  <p class="body-text">
    <strong style="font-size:20px">Trish Romano</strong>, CLT, LMT is the founder of MTW, and also works at the prestigious Mayo Clinic where she assisted in establishing the new Integrated Medicine Clinic at Mayo's North Scottsdale campus. 
  </p>
  <p class="body-text">
    Trish has collaborated and established referalls with some of the best doctors and other health care providers in Scottsdale and Phoenix. She has over 17 years experience and thousands of hours advanced training. Every client receives personalized care and consultation, taking into account medical history and current needs.
  </p>

</md-content>