<div class="page-container">
  <md-content class="page-content">

    <h1 class="page-heading">
      Services and Pricing
    </h1>

    <div class="body-text">
      <p>
        {{ctrl.content}}
      </p>
      <p>
        More information will be provided here in the future. But for now please call 310-283-9382 to learn more about what services and packages are available.
      </p>
      <p>
        Manual therapy, including massage, makes a wonderful gift. Gift certificates are available for purchase upon request.
      </p>
    </div>

  </md-content>

  <div class="side-content"></div>
</div>