<md-nav-bar
      md-selected-nav-item="currentNavItem"
      nav-bar-aria-label="navagation links">
    <img class="nav-logo" ng-src="http://i.imgur.com/nzQgYC8.png" alt="">
    <md-nav-item md-nav-href="home" name="home">
      Home
    </md-nav-item>
    <md-nav-item md-nav-href="services" name="services-pricing">
      Services &amp; Pricing
    </md-nav-item>
    <md-nav-item md-nav-href="about" name="about">
      About Us
    </md-nav-item>
    <md-nav-item md-nav-href="appointments" name="appointments">
      Scheduling an Appointment
    </md-nav-item>
</md-nav-bar>