<div >
  
  <!-- Navbar for larger screens -->
  <md-toolbar   hide-xs hide-sm 
                class="md-toolbar-tools"  
                md-whiteframe="4"
                md-colors="{background: 'alt-primary'}"
            >
      <div flex="10" layout="column" layout-align="center center"> 
          <!-- <img  
                class="nav-logo" 
                ng-src="http://i.imgur.com/EvXAyE1.png" alt=""> -->
      </div>
      <navbar-links> </navbar-links>
  </md-toolbar>
  <!-- End navbar for large screens -->


    <!-- Navbar with sidebar for small screens-->
    <div layout="column" md-whiteframe="4" hide-gt-sm md-theme="alt">
      <md-toolbar hide-gt-sm >
          <md-button class="md-icon-button" ng-click="ctrl.toggleNav()">
            <md-icon>menu</md-icon>
          </md-button>
      </md-toolbar>

      <md-sidenav md-component-id="left" class="md-sidenav-left">
          <md-toolbar class="md-tall padding" >
            <div flex layout="column" layout-align="center center"> 
          <img  
                class="nav-logo" 
                ng-src="http://i.imgur.com/EvXAyE1.png" alt="">
            <div class="md-headline">Manual Therapy for Wellness</div>
        </div>
          </md-toolbar>
          <md-content>
            <navbar-links on-change="ctrl.toggleNav()"></navbar-links>
          </md-content>
        </md-sidenav>

      </div>
      
      <div >
      </div>
    </div>

</div>