@import url('https://fonts.googleapis.com/css?family=Poiret+One|Montserrat|Open+Sans|Roboto:300i,400,700,900');

body, .page-heading {
  font-family: 'Poiret One', 'Roboto', 'Helvetica Neue', 'sans-serif';
}

.section1,.section2 {
 font-family: 'Open Sans'
}

.bold {
  font-weight: 700;
}

.page-heading {
  text-align: center;
  color: #222;
  /*background: linear-gradient(to bottom, #333, #555);*/
  
  font-size: 3.5em;
  padding: 30px 10px 40px;
  margin: 0;
}


.section1 {
  text-align: center;
  color: #222;
  padding: 30px 10px 80px;
}

.section1 h1 {
  font-size: 2em;
}

.section1 a {
  color: #222;
}

.section2 {
  position:relative;
  margin: 0;
  padding: 0 0 200px;
  background-image: linear-gradient(to bottom right, rgb(0,230,118) 33%, yellow);
  
}

.section2>h3 {
  text-align: center;
  padding: 0 0 20px;
  margin: 0;
  height: 100px;

  background-image: linear-gradient(to bottom, rgba(255,255,255,.3),rgba(50,50,50,.2)), url('http://i.imgur.com/lO70yjz.png');
  background-repeat: no-repeat;
  background-size: 900px 500px;
  background-position-y: -150px;
  background-position-x: center;
}

.section2 a {
  font-size: 20px;
  color: rgba(0,77,64 ,1);
  text-shadow: 1px 1px 3px #444;
  text-decoration: none ;
}

.map {
  width: 67vw;
  min-width: 200px;
  max-width: 800px;
  height: 50vw;
  min-height: 200px;
  box-shadow: 0 0 40px 1px #666;
  margin: 25px 30px 20px 16vw;
}


.logo-banner {
  background-color: #111;
  max-height: 500px;
  margin: 30px 0;
  padding: 15px 0;
}

.logo {
  position: relative;
  background-color: #111;
  border: 1px transparent;
  border-radius: 100px;
  margin-left:50vw;
  left: -150px;
  width:50vw;
  max-width: 300px;
}

