@import url('https://fonts.googleapis.com/css?family=Poiret+One|Open+Sans');

* body {
  background-color: transparent;
}

.nav-logo {
  /*position: relative;*/
  padding: 5px 0 15px 5px;
  width: 60px;
  height: 40px;
}

md-nav-bar {
  font-family: 'Open Sans'
}

/* styling for background logo
    for an empty div with id=bg-logo  */
 #bg-logo {
  position: absolute;
  z-index: -1;
  height:40vw;
  width:40vw;
  top: 80px;
  right: 0px;
  height:20vw;
  background: linear-gradient(rgba(250,250,250,.3),rgba(250,250,250,.3)),  url('http://i.imgur.com/nzQgYC8.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
 

.page-heading {
  font-family: 'Poiret One', 'Open Sans', 'Helvetica Neue', 'sans-serif';
  background: transparent;
}

.section1,.section2 {
 font-family: 'Open Sans'
}

.bold {
  font-weight: 700;
}

.page-heading h1 {
  margin: 0 15vw;
  color: #222;
  font-size: 4em;
  padding: 30px 10px 0px 0;
}

#subheading {
  margin: 0 0 0 15vw;
  font-family: 'Open Sans', 'Helvetica Neue';
  border-top: 1px solid #222;
  width: 50vw;
  color: #222;
  font-size: 6px;
}

#subheading .fa-circle {
  margin: 0 10px;
}

.subheading-text {
  font-size: 14px;
}

.section1 {
  margin: 0 0 0 15vw;
  color: #222;
  padding: 110px 10px 80px;
}

.section1 #provider-name {
  padding: 0;
  margin: 0;
}

.section1 #contact-info {

}
.section1 .fa {
  margin-right: 10px;
}

.section1 a {
  color: #222;
}

.section2 {
  position:relative;
  margin: 0;
  padding: 0 0 100px;
  
}

.section2>h3 {
  text-align: center;
  padding: 0 0 20px;
  margin: 0;
  height: 100px;

  background-image: url('http://i.imgur.com/lO70yjz.png');
  background-repeat: no-repeat;
  background-size: 900px 500px;
  background-position-y: -150px;
  background-position-x: center;
}

.section2 a {
  font-size: 20px;
  color: rgba(0,77,64 ,1);
  text-shadow: 1px 1px 3px #444;
  text-decoration: none ;
}

.map {
  /*width: 67vw;*/
  /*min-width: 200px;*/
  width: 400px;
  height: 400px;
  /*min-height: 200px;*/
  box-shadow: 0 0 20px 1px #aaa;
  position: relative;
  left: 50vw;
  margin: 25px 30px 20px -200px;
}


.logo-banner {
  background-color: #111;
  max-height: 500px;
  margin: 30px 0;
  padding: 15px 0;
}

.logo {
  position: relative;
  background-color: #111;
  border: 1px transparent;
  border-radius: 100px;
  margin-left:50vw;
  left: -150px;
  width:50vw;
  max-width: 300px;
}

.page-content {
  background:transparent;
  margin-left:10vw;
  width:50vw
}

.body-text {
  font-family: 'Open Sans', 'Helvetica Neue', 'sans serif';
  font-size: 16px;
  text-align: justify;
}

#email-form {
  border: 1px transparent;
  border-radius: 5px;
  padding: 20px;
  font-weight: 400;
  background-color: rgba(173,193,240,.2);

}


