<div>
  
  <div class="hero hero-container">
    <md-content class="md-padding hero-content" 
                layout="column"
                layout-align="center center">
      <md-card  ng-repeat="card in vm.heroCards track by $index"
                class="hero-card"
                layout="row"
                ng-click="vm.showPopup($event, card)"> 
        <div class="card-image-container">
          <img ng-src="{{card.imgUrl}}" alt=""
                class="md-card-image">
        </div>
        <div layout="column">
          <md-card-title class="card-title">
            <md-card-title-text>
              <p class="md-headline">{{card.title}}</p>
              <p class="md-title">{{card.subtitle}}</p>
            </md-card-title-text>
          </md-card-title>
          <md-card-content class="card-content">
            {{card.bodyText}}
          </md-card-content>
        </div>
      </md-card>
    </md-content>
  </div>

<section class="section1">
  <h4>Founder &amp; Principal Care Provider</h4>
  <h1 hide-xs class="md-display-3"><strong>Trish Romano</strong><small>, CLT, LMT</small></h1>
  <h1 hide-gt-xs class="md-display-1"><strong>Trish Romano</strong><small>, CLT, LMT</small></h1>
    <address id="contact-info">
      <i class="fa fa-phone" aria-hidden="true" style="margin-top: 20px"> </i> 
      <span class="bold">{{vm.provider.tel}}</span>
      <br>
      <i class="fa fa-envelope-o" style="margin-top: 20px"> </i>
      <span class="bold"><a href="mailto:{{vm.provider.email}}">{{vm.provider.email}}</a></span>
      <br>
      <a style="text-decoration:none" href="https://goo.gl/maps/1okmtzEUX6P2" target="_blank">
        <i class="fa fa-map-marker" style="margin-top: 20px"></i> 
        <span id="address1" class="bold">{{vm.provider.address1}}</span><br>
        <i class="fa fa-map-marker" style="visibility:hidden;padding:0"></i> 
        <span id="address2" class="bold">{{vm.provider.address2}}</span><br></a>
    </address>
</section>


<section class="section2">
  <div class="md-display-1 title">
    <a  href="https://goo.gl/maps/AgE9ogSP9mF2">Office Location</a>
  </div>  
  <p class="subtitle">Our office is situated in the Ironwood Square professional business park, just south of Shea Blvd. between 92nd and 96th Streets.</p>
  <div class="map-group">
        <div style="position:absolute;left:0;top:0;z-index:1000000;">
          <div style="background-color:white;margin:10px;padding:1px;box-shadow:0 1px 4px -1px rgba(0,0,0,0.3);border-radius:2px">
            <div>
              <div class="place-card place-card-large">
                <div class="place-desc-large">
                  <div class="place-name">Manual Therapy For Wellness</div>
                  <div class="address">9458 E Ironwood Square Dr #102, Scottsdale, AZ 85258</div>
                </div>
                <div class="navigate">
                  <div class="navigate">
                    <a target="_blank" href="https://maps.google.com/maps?ll=33.580377,-111.880618&z=15&t=m&hl=en-US&gl=US&mapclient=embed&daddr=9458%20E%20Ironwood%20Square%20Dr%20%23102%20Scottsdale%2C%20AZ%2085258@33.5782319,-111.8773569" 
                      class="navigate-link">
                      <div>
                        <!-- <i class="fa fa-map-marker"></i> -->
                      </div>
                      <div class="navigate-text">Directions</div>
                    </a>
                  </div>
                  <div class="tooltip-anchor">
                    <div class="tooltip-tip-outer"></div>
                    <div class="tooltip-tip-inner"></div>
                    <div class="tooltip-content">
                      <div>Get directions to this location on Google Maps.</div>
                    </div>
                  </div>
                </div>
                <div class="bottom-actions">
                  <div class="google-maps-link">
                    <a target="_blank" href="https://maps.google.com/maps?ll=33.569007,-111.859246&z=13&t=m&hl=en-US&gl=US&mapclient=embed&q=9458%20E%20Ironwood%20Square%20Dr%20%23102%20Scottsdale%2C%20AZ%2085258">
                      View larger map
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    <div class="map" id="map" google-map style="width:100%;height:400px">
    </div> 
    
    <!-- <iframe class="map"
            width="100%" 
            height="450" 
            frameborder="0" 
            style="border:0" 
            src="https://www.google.com/maps/embed/v1/place?q=9458%20East%20Ironwood%20Square%20Drive%20%23102%2C%20Scottsdale%2C%20AZ%2085258&key=AIzaSyB7zqc0Gz-IdqqaAa0N6AyvFNcINkTaSt4
            &zoom=15
            &center=33.580377,-111.880618" allowfullscreen>
    </iframe>   -->
   
  </div>
<a href="http://www.trishromano.com" 
    style="left:-300px;position:absolute;"
    target="_blank">trishromano.com</a>
</section>

</div>