<div class="place-card place-card-large">
                <div class="place-desc-large">
                  <div class="place-name">Manual Therapy For Wellness</div>
                  <div class="address">9458 E Ironwood Square Dr #102, Scottsdale, AZ 85258</div>
                </div>
                <div class="navigate">
                  <div class="navigate">
                    <a target="_blank" href="https://maps.google.com/maps?ll=33.580377,-111.880618&z=15&t=m&hl=en-US&gl=US&mapclient=embed&daddr=9458%20E%20Ironwood%20Square%20Dr%20%23102%20Scottsdale%2C%20AZ%2085258@33.5782319,-111.8773569" 
                      class="navigate-link">
                      <div>
                        <!-- <i class="fa fa-map-marker"></i> -->
                      </div>
                      <div class="navigate-text">Directions</div>
                    </a>
                  </div>
                  <div class="tooltip-anchor">
                    <div class="tooltip-tip-outer"></div>
                    <div class="tooltip-tip-inner"></div>
                    <div class="tooltip-content">
                      <div>Get directions to this location on Google Maps.</div>
                    </div>
                  </div>
                </div>
                <div class="bottom-actions">
                  <div class="google-maps-link">
                    <a target="_blank" href="https://maps.google.com/maps?ll=33.569007,-111.859246&z=13&t=m&hl=en-US&gl=US&mapclient=embed&q=9458%20E%20Ironwood%20Square%20Dr%20%23102%20Scottsdale%2C%20AZ%2085258">
                      View larger map
                    </a>
                  </div>
                </div>
</div>