<div >
  
  <!-- Navbar for larger screens -->
  <md-toolbar   hide-xs hide-sm 
                class="md-toolbar-tools main-navbar nav"  
                md-whiteframe="2"
                md-theme="alt"
                
            >
      <div flex="10" layout="column" layout-align="center center"> 
         <img  
               class="nav-logo" 
               ng-src="{{vm.logoImg}}" alt="">
      </div>
      <navbar-links> </navbar-links>
  </md-toolbar>
  <!-- End navbar for large screens -->


    <!-- Navbar with sidebar for small screens-->
    <div layout="column" md-whiteframe="4" hide-gt-sm>
      <md-toolbar hide-gt-sm class="md-toolbar-tools main-navbar nav"
                  md-theme="alt">
          <md-button class="md-icon-button nav-button" ng-click="vm.toggleNav($event)">
            <i class="fa fa-bars fa-2x"></i>
          </md-button>
      </md-toolbar>

      <md-sidenav md-component-id="left" class="md-sidenav-left">
          <md-toolbar class="md-tall padding" >
            <div flex layout="column" layout-align="center center"> 
          <img  
                class="nav-logo" 
                ng-src="{{vm.logoImg}}" alt="">
            <div class="md-headline">Manual Therapy for Wellness</div>
        </div>
          </md-toolbar>
          <md-content>
            <navbar-links ng-click="vm.toggleNav($event)"></navbar-links>
          </md-content>
        </md-sidenav>

      </div>
      
      <div >
      </div>
    </div>

</div>
