/* media query for x-small screes < 730px */
@media only screen and (max-width: 729px) {

  .nav.brand-name-group>*{
    font-size: 1em;
  }
  
    .hero.subtitle p ::before {
      display: none;
    }

    .hero.hero-aside-box {
      display: none;
    }
    
    section.section1>* {
      margin-left: 0;
      padding-left: 5vw;
      transition: .3s;
    }

    .page-content{
      width: 90%;
      margin: 0 auto;
    }
    
}

@media only screen and (max-width: 959px) and (min-width: 731px) {

    section.section1>* {
      margin-left: 0;
      padding-left: 10vw;
      transition: .3s;
    }

  
   /* styling for content on non-home pages */
     md-content.page-content {
        background: rgba(255,255,255,.5);
      }
      .page-content {
        overflow: hidden;
        margin-left: 10vw;
        max-width: 80vw;
        z-index: -1
      }

      /* styling for side content on non-home pages*/
      .side-content {
        top: 150px;
        right: 0;
        min-width: 400px;
        min-height: 400px;
        width: 50vw;
        height: 50vw;
        z-index: -2;
        opacity: .2;
      }
}

/* media query for larger screens */
@media only screen and (min-width: 960px) {

  .page-content {
    overflow: hidden;
    margin-left:10vw;
    width:50vw
  }

  .side-content {
    top: 150px;
    right:10px;
    max-width: 500px;
    width: 30vw;
    height: 30vw;
  }
  
}

@media only screen and (max-width: 1140px) {
  .hero.hero-container::before {
    opacity: .3;
    transition: .5s;
  }
  .hero.hero-main-title {
    width: 100%;
    height: auto;
    transition: .3s;
  }

  .blue {
    /* color: #fff; */
    text-shadow: 1px 1px 2px #fff;
  }

  .hero.title-text {
    width: auto;
  }
    .hero.subtitle {
      width: 100%;
      height: auto;
      align-items: flex-start;
      margin-left: 5%;
      transition: .3s;
    }

    .hero.subtitle-text {
      margin-top: 0;
      margin-left: 0;
    }

    .hero.hero.subtitle-text > p:nth-child(2) {
      margin-left: 0;
    }

    .hero.hero-aside-box {
      right: 40px;
      left: auto;
    }

}

@media only screen and (min-width: 1480px) {
  .hero.hero-container::after {
    background-position: bottom center;
    transition: .3s;
  }
  .hero.hero-container {
    height: 1080px;
    transition: .3s;
  }
}
