
/* Breakpoints min:1480,   */
/* media query for x-small screes < 730px */
@media only screen and (max-width: 815px) {
  .nav.brand-name-group > * {
    font-size: 1.2em;
  }

  .hero {
    .hero-main-title {
      transition: .5s;
      p {
        font-size: 2.5em;
        
      }
    }
    .hero-subtitle {
      top: auto;
      bottom: 25px;
      margin: auto;
      right: 0;
      left: 0;
      transition: .5s;
       /* logo */
      &::before { 
        top: -120px;
        left: 0;
        right: 0;
        margin: auto;
        width: 200px;
        height: 200px;
        transition: .5s;
      }
       /* color background */
      &::after {
        left: 0;
      }
      p {
        font-size: 1.2em;
      }
    }
   
    .hero-aside-box {
      display: none;
    }
  }
  


  section.section1 {
    height: 300px;
    > * {
      &:first-child {
        margin-top: 100px;
      }
      margin-left: 0;
      padding-left: 5vw;
      transition: .3s;
    }
  }
  .page-content {
    width: 90%;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 959px) and (min-width: 731px) {
  section.section1 > * {
    margin-left: 0;
    padding-left: 10vw;
    transition: .3s;
  }
  /* styling for content on non-home pages */
  md-content.page-content {
    background: rgba(255, 255, 255, 0.5);
  }
  .page-content {
    overflow: hidden;
    margin-left: 10vw;
    max-width: 80vw;
    z-index: -1;
  }
  /* styling for side content on non-home pages*/
  .side-content {
    top: 150px;
    right: 0;
    min-width: 400px;
    min-height: 400px;
    width: 50vw;
    height: 50vw;
    z-index: -2;
    opacity: .2;
  }
}

/* media query for larger screens */
@media only screen and (min-width: 960px) {
  .page-content {
    overflow: hidden;
    margin-left: 10vw;
    width: 50vw;
  }
  .side-content {
    top: 150px;
    right: 10px;
    max-width: 500px;
    width: 30vw;
    height: 30vw;
  }
}

@media only screen and (max-width: 1140px) {

  .hero {
    .hero-aside-box {
      right: 40px;
      left: auto;
    }
  }
}

@media only screen and (min-width: 1480px) {
  .hero {
    &.hero-container {
      &::after {
        background-position: bottom center;
        transition: .3s;
      }
      height: 800px;
      transition: .3s;
    }
  }
}