@import url('https://fonts.googleapis.com/css?family=Philosopher|Open+Sans');

body h1 h2 h3 h4 h5 h6 p div section {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', 'Helvetica Neue';
}

* body {
  background-color: transparent;
  overflow-x: hidden;
}

/********************/
/* Navbar styling */
.nav-logo {
  width: 56px;
  border: 1px solid transparent;
  border-radius: 28px;
  /*background: rgba(100,100,100,1);*/
}

.navbar .active {
  border-bottom: 2px solid red;
}

md-toolbar.main-navbar.nav {
  background: rgba(250,250,250,.6);
}

.nav-button {
   color: #000; 
}

/****************************/
/******  HOME PAGE STYLING ******/
/****************************/


/* hero image styling */

.homepage-hero {
  position:relative;
  top: -64px;
  margin-bottom: -64px;
  overflow: hidden;
  height: 100vh;
}

.homepage-hero::before {
  position: absolute;
  content: ' ';
  height: 100vh;
  width: 100vw;
    /* logo image */
   background: url("./assets/MTW logo 14 600x587.png"); 
  background-size: 300px;
  background-repeat: no-repeat;
  background-position: center center;
  z-index: -1;
}
.homepage-hero::after {
  position: absolute;
  content: ' ';
  height: 100vh;
  width: 100vw;
  /* background picture */
  background: url('./assets/blue-clouds-day-fluffy-53594.jpeg');
  /* background: url('./assets/water-sky-woman-1240x825.jpeg'); */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  opacity: 1;
  z-index: -2;
}


/* Page Heading appearing over hero image */
.hero-title-block {
  position:absolute;
  display: block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
   width: 1000px; 
  max-width: 95%;
  max-height: 95%;
  /* margin: 0 auto; */
  /* z-index: 1; */
}

  /* translucent background for text */
.hero-title-block::before {
  position: absolute;
  content: ' ';
    /* background: radial-gradient( rgba(255,255,255,.4), rgba(255,255,255,0));   */
  /*filter: blur(3px);*/
  top: -5%;
  left: -5%;
  width: 110%;
  height: 110%;
  border: 1px transparent;
  border-radius: 100px;
  opacity: 1;
  filter: blur(10px);
  z-index: -1;
}

.hero-title-block h1 {
  font-family: Philosopher;
  display: block;
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 6em;
  line-height: 1.25em;
  color: #fff;
  text-shadow: 1px 1px 2px #000;
  font-weight: 800;
  z-index: 10;
}


.hero-title-block .subtitle {
  font-family: 'Open Sans', 'Helvetica Neue';
  display: block;
  margin: 0;
  padding: 0;
  text-align: center;
  border-top: 1px solid #000;
  color: #000;
  font-size: 2em;
  background-color: rgba(250,250,250,.5);
}

.hero-title-block .subtitle-dot-separator {
  font-size: 25px;
  line-height: .5em;
  margin: 0 10px;
  position: relative;
  top: -3px;
}

.section1 {
  position: relative;
  margin: 0;
  height: 500px;
  color: #222;
  /* padding: 100px 10px; */
  /* background-color: rgba(50,70,250,.1) */
}

.section1>*:first-child {
  margin-top: 200px;
  

}
.section1>* {
  padding: 0 0 0 15vw;
  margin: 0;
  font-family: 'Open Sans'
}


.section1 .fa {
  margin-right: 10px;
}

.section1 a {
  color: #222;
}

.section2 {
  position:relative;
  margin: 0;
  padding: 50px 0 100px;
  background: rgba(56,25,4,.4);
  height: 100vh;

  
}

.section2::after {
  position: absolute;
  content: ' ';
  /* padding: 0 0 20px; */
  /* margin: 0; */
  height: 200px;
  max-width: 600px;
  width: 95%;
  left: 50%;
  transform: translateX(-50%);
    /* image of location */
  background: url('./assets/officeLocation.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top -60px center;
}


.section2 .title a {
  /*font-size: 20px;*/
  color: #555;
  text-shadow: 1px 1px 3px #444;
  /* text-decoration: none ; */
  display: block;
  position: relative;
  width: 95%;
  max-width: 700px;
  margin: 20px auto;
  text-align: center;
}

.section2 .sub-title {
  color: #555;
  display: block;
  position: relative;
  width: 95%;
  max-width: 600px;
  margin: 20px auto;
  text-align: center;
  font-size: 1.1em;
}

.map {
  /*min-width: 200px;*/
  position: absolute;
  width: 95%;
  max-width: 600px;
  height: 400px;
  left: 50%;
   top: 360px; 
  transform: translateX(-50%);
  /*min-height: 200px;*/
  /* box-shadow: 0 0 20px 1px #aaa; */
  z-index: 1;
}

/* End base Homepage Styling */



/*********************
/* logo displayed on side of every page other than home page */
.side-content {
  position: absolute;
  display: inline-block;
  /* logo image */
  background: url("./assets/MTW logo 14 600x587.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;

}

/**********/

/* media query for x-small screes < 730px */
@media only screen and (max-width: 730px) {
    .hero-title-block h1 {
      font-size: 3.5em;
    }
    .hero-title-block .subtitle {
      font-size: .75em;
    }

}
/* media queries for all small screens */
@media only screen and (max-width: 959px) and (min-width: 731px) {

    md-toolbar.md-toolbar-tools {
      min-height: 64px;
    }

    section.section1>* {
      margin-left: 0;
      padding-left: 5vw;
    }

    .hero-title-block .subtitle {
      font-size: 1.5em;
      background-color: rgba(250,250,250,.5);
    }
  
   /* styling for content on non-home pages */
     md-content.page-content {
        background: rgba(255,255,255,.5);
      }
      .page-content {
        overflow: hidden;
        margin-left: 10vw;
        max-width: 80vw;
        z-index: -1
      }

      /* styling for side content on non-home pages*/
      .side-content {
        top: 150px;
        right: 0;
        min-width: 400px;
        min-height: 400px;
        width: 50vw;
        height: 50vw;
        z-index: -2;
        opacity: .2;
      }
}

/* media query for larger screens */
@media only screen and (min-width: 960px) {

  .page-content {
    overflow: hidden;
    margin-left:10vw;
    width:50vw
  }

  .side-content {
    top: 150px;
    right:10px;
    max-width: 500px;
    width: 30vw;
    height: 30vw;
    opacity: .4;
  }

  
}
 /*end media query */

.page-heading {
  font-family: 'Poiret One', 'Open Sans', 'Helvetica Neue', 'sans-serif';
  background: transparent;
}

.bold {
  font-weight: 700;
}

.page-heading h1 {
  color: #222;
  font-size: 4em;
  padding: 0px 10px 0px 0;
}





 
.body-text {
  font-family: 'Open Sans', 'Helvetica Neue', 'sans serif';
  font-size: 16px;
  text-align: justify;
}

#email-form {
  border: 1px transparent;
  border-radius: 5px;
  padding: 20px;
  font-weight: 400;
  background-color: rgba(173,193,240,.2);

}


