

@import url('https://fonts.googleapis.com/css?family=Philosopher|Open+Sans');

//colors
$light-blue: #ccddff;
$md-blue: #6a8ad4;
$royal-blue: #022aff;
$dark-blue: #337;
$orange: #ef6a11;
$lt-orange: #f29659;
$yellow: #ffd823;
$red: #e83d3d;
$dark-brown: #381904;
$dark-text: #222;
$white: #fff;


//fonts
$sans-font: 'Open Sans', 'Helvetica Neue', 'sans serif';
$serif-font: 'Philosopher';

body, h1, h2, h3, h4, h5, h6, p, div, section {
  margin: 0;
  padding: 0;
  background: transparent;
  font-family: $sans-font;
}

body {
  overflow-x: hidden;
  overflow-y: scroll;
}

// .below-nav {
//   position: relative;
//   top: 129px;
// }

/********************/
/* Navbar styling */
md-toolbar.main-navbar.nav {
  position: fixed;
  top: 0;
  opacity: .9;
  background: $light-blue;
  z-index: 10;
  transition: .3s;
}

.nav {
  &.brand-group {
    align-self: center;
  }
  &.brand-logo {
    width: 75px;
    height: 75px;
    margin: 0 20px;
    display: inline-block;
    vertical-align: middle;
    transition: .5s;
  }
  &.brand-name-group > * {
    font-family: $serif-font;
    font-size: 38px;
    font-weight: 400;
    color: $dark-blue;
    letter-spacing: -.08em;
    transition: .5s;
  }
}

.navbar .active {
  border-bottom: 2px solid red;
}

.nav-hide {
  .main-navbar.nav {
  top: -128px;
  opacity: 0;
  transition: .5s;
  }
}

.nav-button {
  color: $dark-text;
}

.brand-logo-sidebar {
  width: 64px;
  height: 64px;
}

/****************************/
/******  HOME PAGE STYLING ******/
/****************************/

/* hero image styling */

.hero {
  overflow: hidden;
  &.hero-container {
    position: relative;
    height: 830px;
    background-color: transparent;
    z-index: 1;
    &::after {
      position: absolute;
      content: ' ';
      height: 100%;
      width: 100vw;
      top: 0;
      /* background picture */
      // background: url('./assets/woman-in-ocean-facing-sun-blue.jpg');
      // background: url('./assets/facing-ocean-into-sun-Blue-1920x1080.jpeg');
      // background: url('./assets/risingclouds-sky-blue-1436x1080.jpg');
      background: url('./assets/blue-clouds-day-fluffy-53594.jpeg');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: bottom center;
      opacity: .9;
      z-index: -1;
    }
  }
  .hero-main-title, .hero-subtitle {
    color: #fff;
    text-shadow: 1px 1px 2px $dark-blue;
    z-index: 1;
    transition: all 1s;
  }
  .hero-main-title {
    position: absolute;
    top: 240px;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    h1 {
      font-family: $serif-font;
      font-size: 3.5em;
      font-weight: 900;
      color: $white;
      text-transform: capitalize;
      transition: all 1s;
      :first-child {
        color: $dark-blue;
      }
      :nth-child(2) {
        color: $yellow;
      }
      :last-child {
        color: $red;
      }
    }
  }
  .hero-subtitle {
    position: absolute;
    top: 445px;
    left: 40%;
    padding: 20px;
    p {
      font-size: 1em;
      transition: all 1s;
      &.sup {
        font-size: 300%;
        font-weight: 200;
        // color: $red; 
      }
      &.sub {
        margin-left: 50px;
        line-height: .5em;
        color: $dark-blue;
      }
      
      &:first-child {
        color: $royal-blue;
      }
      &:nth-child(3) {
        color: $yellow;
      }
      &:nth-child(5) {
        color: $red;
      }
    }
    &::before {
      position: absolute;
      content: ' ';
      height: 300px;
      width: 300px;
      top: 50%;
      transform: translateY(-50%);
      left:-350px;
      /* logo image */
      // background: url("./assets/MTW logo 14 600x587.png");
      background: url("./assets/logos/MTW-1800x1800-mono-blue.png");
      opacity: 1;
      background-size: contain;
      background-repeat: no-repeat;
      transition: all 1s;
    }
    &::after {
      position: absolute;
      content: ' ';
      top: 0;
      left: -100vw;
      width: 250vw;
      height: 100%;
      background: $light-blue;
      box-shadow: 0 1px 8px $dark-text;
      z-index: -2;
      opacity: .7;
      transition: .5s;
    }
  }
  .hero-aside-box {
    display: none;
    position: absolute;
    right: 40px;
    bottom: -100px;
    border: 2px solid $white;
    padding: 15px;
    width: 275px;
    text-align: center;
    background: rgba($md-blue, 1);
    :first-child {
      color: $white;
      font-size: 1.5em;
      font-weight: 800;
      line-height: 1em;
      letter-spacing: .02em;
    }
    p + p {
      font-size: 1em;
      line-height: 1.5em;
      color: $white;
      font-weight: 800;
    }
  }
}
/* hero  */

.section1 {
  position: relative;
  margin: 0;
  height: 500px;
  color: $dark-text;
  > * {
    &:first-child {
      margin-top: 200px;
    }
    padding: 0 0 0 15vw;
    margin: 0;
    font-family: $sans-font;
    transition: .3s;
  }
  .fa {
    margin-right: 10px;
  }
  a {
    color: $dark-text;
  }
}

.section2 {
  position: relative;
  margin: 0;
  background: rgba($dark-brown, 0.4);
  height: 1000px;
  .title {
    padding-top: 40px;
    position: relative;
    width: 95%;
    max-width: 700px;
    margin: 0 auto;
    text-align: center;
    a {
      color: $dark-text;
    }
  }
  .subtitle {
    color: $dark-text;
    position: relative;
    width: 95%;
    max-width: 600px;
    margin: 20px auto;
    text-align: center;
    font-size: 1.1em;
  }
  &::before {
    position: absolute;
    content: ' ';
    height: 700px;
    width: 100%;
    top: 200px;
    /* bokeh background image  */
    background: url('./assets/grass-bokeh-1920x1080.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    opacity: .5;
  }
  &::after {
    position: absolute;
    content: ' ';
    height: 200px;
    max-width: 600px;
    width: 95%;
    top: 220px;
    left: 50%;
    transform: translateX(-50%);
    /* image of location */
    background: url('./assets/officeLocation.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top -60px center;
  }
}

.map-group {
  /*min-width: 200px;*/
  position: absolute;
  width: 95%;
  max-width: 600px;
  height: 450px;
  top: 410px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

/* End base Homepage Styling */

/*********************
/* logo displayed on side of every page other than home page */

.page-container {
  padding-top: 128px;
  display: flex;
  flex-flow: row;
}

.side-content {
  position: absolute;
  display: inline-block;
  /* logo image */
  // background: url("./assets/MTW logo 14 600x587.png");
  background: url("./assets/logos/MTW-1800x1800-mono-blue.png");
  opacity: .9;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

.page-heading {
  font-family: $serif-font;
  background: transparent;
  color: $dark-text;
  font-size: 2em;
  padding: 20px 0 40px 0;
}

.page-content .body-text {
  line-height: 1.5em;
  font-size: 1.1em;
  p ~ p {
    margin-top: 2em;
  }
}

.bold {
  font-weight: 700;
}

.body-text {
  font-family: $sans-font;
  font-size: 16px;
  text-align: justify;
}

.email-form-card {
  margin: 50px 1px;
  max-width: 550px;
}

/*  media query styling */
@import 'styleMedia';