

@import url('https://fonts.googleapis.com/css?family=Philosopher|Open+Sans');

//colors
$lt-blue: #ccddff;
$md-blue: #6a8ad4;
$royal-blue: #022aff;
$dark-blue: #337;
$dark-brown: #381904;
$gray: #aaa;
$green: #60a577;
$orange: #ef6a11;
$lt-orange: #f29659;
$red: #e83d3d;
$lt-red: #e89999;
$white: #fff;
$yellow: #ffd823;
$dark-text: #000;


//fonts
$sans-font: 'Open Sans', 'Helvetica Neue', 'sans serif';
$serif-font: 'Philosopher';

body, h1, h2, h3, h4, h5, h6, p, div, section {
  margin: 0;
  padding: 0;
  background: transparent;
  font-family: $sans-font;
}

body {
  overflow-x: hidden;
  overflow-y: scroll;
}

// .below-nav {
//   position: relative;
//   top: 129px;
// }

/********************/
/* Navbar styling */
md-toolbar.main-navbar.nav {
  position: fixed;
  top: 0;
  background: linear-gradient(45deg,rgba($white,.4), rgba($white,1) 50%), linear-gradient(rgba($green,1),rgba($green,1));
  z-index: 10;
  transition: .3s;
}

.nav {
  &.brand-group {
    align-self: center;
  }
  &.brand-logo {
    width: 110px;
    height: 110px;
    margin: 0 20px;
    display: inline-block;
    vertical-align: middle;
    transition: .5s;
  }
  &.brand-name-group > * {
    font-family: $serif-font;
    font-size: 38px;
    font-weight: 400;
    color: $dark-text;
    letter-spacing: -.08em;
    transition: .5s;
  }
}

.navbar .active {
  border-bottom: 2px solid red;
}

.nav-hide {
  .main-navbar.nav {
  top: -128px;
  opacity: 0;
  transition: .5s;
  }
}

.nav-button {
  color: $dark-text;
}

.brand-logo-sidebar {
  width: 64px;
  height: 64px;
}

/****************************/
/******  HOME PAGE STYLING ******/
/****************************/

/* hero image styling */

.hero {
  overflow: hidden;
  &.hero-container {
    position: relative;
    height: 100vh;
    max-height: 1020px;
    z-index: 1;
    &::after {
      position: absolute;
      content: ' ';
      height: 100%;
      width: 100vw;
      top: 0;
      /* background picture */
      // background: url('./assets/woman-in-ocean-facing-sun-blue.jpg') fixed;
      // background: url('./assets/facing-ocean-into-sun-Blue-1920x1080.jpeg') fixed;
      // background: url('./assets/risingclouds-sky-blue-1436x1080.jpg');
      // background:url('./assets/blue-clouds-day-fluffy-53594.jpeg') fixed;
      // background:  url('./assets/bodywork/photoProcessing/floor-2228277_1920.jpg') fixed;
      // background: url('./assets/bodywork/photoProcessing/common-blue-2184612_1920.jpg') fixed;
      background:linear-gradient(rgba($green,.3), rgba($green, .3)), url('./assets/bodywork/photoProcessing/fresco-379933_1280.jpg') fixed;
      
      // background-repeat: no-repeat;
      background-size: 100% 100%;
      background-position: center left;
      filter: blur(3px);
      opacity: .4;
      z-index: -1;
    }
  }
    .hero-content {
      position: absolute;
      background: transparent;
      padding-top: 138px;
      top:0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: 0 auto;
    .hero-card {
      min-height: 125px;
      // max-height: 220px;
      width: 60vw;
      min-width: 780px;
      background-color: $dark-text;
      color: $white;
      transition: all 1s;
      &:hover {
        cursor: pointer;
      }
      .card-image-container {
        // position: relative;
        max-width: 300px;
        // height: 100%;
        overflow: hidden;
        .md-card-image {
          display: block;
          position: relative;
          left: -50px;
          // left: 0;
          width: 150%;
          height: 100%;
          // height: auto;
          transition: all 5s;
          transform-origin: left bottom;
        }
      }
      &:hover {
        transform: scale(1.05);
        .md-card-image {
        transform: scale(1.1);
        }
      }
      .card-title {
        flex: 0 0 auto;
        p:first-child {
          font-size: 200%;
          font-weight: 400;
        }
      }
    }
  }
}
/* hero  */

.section1 {
  position: relative;
  margin: 0;
  height: 500px;
  color: $dark-text;
  > * {
    &:first-child {
      margin-top: 200px;
    }
    padding: 0 0 0 15vw;
    margin: 0;
    font-family: $sans-font;
    transition: .3s;
  }
  .fa {
    margin-right: 10px;
  }
  a {
    color: $dark-text;
  }
  &::after {
    position: absolute;
    content: ' ';
    width: 50vw;
    max-width: 400px;
    height: auto;
    top: -50px;
    bottom: 0;
    margin: auto 0;
    right: 20px;
    /*  headshot of Trish  */
    // background: url('./assets/bodywork/photoProcessing/portraits/model-2303361_640.jpg');
    // background: url('./assets/bodywork/photoProcessing/portraits/gaba-1874655_640.jpg');
    // background: url('./assets/bodywork/photoProcessing/portraits/grecian-1823278_640.jpg');
    // background: url('./assets/bodywork/photoProcessing/portraits/domestic-life-2364990_640.png');
    // background: url('./assets/bodywork/photoProcessing/portraits/girl-1319114_640.jpg');
    // background: url('./assets/bodywork/photoProcessing/portraits/girl-1319115_640.jpg');
    // background: url('./assets/bodywork/photoProcessing/portraits/woman-1255321_640.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    z-index: -1;
  }
}

.section2 {
  position: relative;
  margin: 0;
  background: rgba($dark-brown, 0.4);
  height: 1000px;
  .title {
    padding-top: 40px;
    position: relative;
    width: 95%;
    max-width: 700px;
    margin: 0 auto;
    text-align: center;
    a {
      color: $dark-text;
    }
  }
  .subtitle {
    color: $dark-text;
    position: relative;
    width: 95%;
    max-width: 600px;
    margin: 20px auto;
    text-align: center;
    font-size: 1.1em;
  }
  &::before {
    position: absolute;
    content: ' ';
    height: 700px;
    width: 100%;
    top: 200px;
    /* bokeh background image  */
    background: url('./assets/grass-bokeh-1920x1080.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    opacity: .5;
  }
  &::after {
    position: absolute;
    content: ' ';
    height: 200px;
    max-width: 600px;
    width: 95%;
    top: 220px;
    left: 50%;
    transform: translateX(-50%);
    /* image of location */
    background: url('./assets/officeLocation.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top -60px center;
  }
}

.map-group {
  /*min-width: 200px;*/
  position: absolute;
  width: 95%;
  max-width: 600px;
  height: 450px;
  top: 410px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

/* End base Homepage Styling */

/*********************
/* logo displayed on side of every page other than home page */

.page-container {
  padding-top: 128px;
  display: flex;
  flex-flow: row;
}

.side-content {
  position: absolute;
  display: inline-block;
  /* logo image */
  // background: url("./assets/MTW logo 14 600x587.png");
  opacity: .9;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

.page-heading {
  font-family: $serif-font;
  background: transparent;
  color: $dark-text;
  font-size: 2em;
  padding: 20px 0 40px 0;
}

.page-content .body-text {
  line-height: 1.5em;
  font-size: 1.1em;
  p ~ p {
    margin-top: 2em;
  }
}

.bold {
  font-weight: 700;
}

.body-text {
  font-family: $sans-font;
  font-size: 16px;
  text-align: justify;
}

.email-form-card {
  margin: 50px 1px;
  max-width: 550px;
}


/*  media query styling */
@import 'styleMap';
@import 'styleMedia';